
div {
  max-width: 100%;
}

h2 {
  color: #4286f4;
  text-align: center;
}

.button {
  color: blue;
}

#addToDoForm {
  color: #4c525b;
  font-size: 1.3em;
  text-align: center;
}

#toDoList {
  color: #4c525b;
  font-size: 1.3em;
  text-align: center;
  list-style-type: none;
}
